* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 5rem auto 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-label{
  font-size: larger;
  margin: 1rem 0;
}

#birth-date{
  font-size: large;
  width: 21%;
  padding: 0.5rem;
  text-align: left;
}

#lucky-number{
  font-size: large;
  width: 21%;
  padding: 0.5rem;
}

button {
  width: 11%;
  font-size: large;
  padding: 0.4rem 0.8rem;
  margin: 1.2rem;
  cursor: pointer;
  border-radius: 0.4rem;
  border: 1px solid black;

}
